@charset "utf-8";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #000000;}
img, svg {width: 100%;}
body {background-color: #f3f3f3; font-family: 'Pretendard Variable'; font-style: normal;}

.clearfix::after {display: block; content:""; clear: both;}

.wrap {
    position: relative;
    overflow: hidden;
}

header {
    width: 95%;
    max-width: 1600px;
    height: 80px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 30px;
    background-color: #282828;
    overflow: hidden;
    z-index: 999;
    display: none;
}

.h_bg {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    filter: blur(24px);
    opacity: 0;
}

.h_bg>img {
    width: 2000px;
    height: 2000px;
}

.header_wrap {
    height: 80px;
    position: relative;
}

h1 {
    width: 170px;
    position: absolute;
    top: 47%;
    left: 40px;
    transform: translate(0, -50%);
    display: none;
}

nav {
    width: 45%;
    min-width: 650px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -38%);
    font-family: "Manjari", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    mix-blend-mode: screen;
    color: #888888;
    display: none;
}

nav a {color: #888888;}

.menu {
    float: left;
    display: flex;
}

.menu li {margin-right: 60px;}

.lang {float: right;}

.lang a:nth-child(1) {color: #ffffff;}

.lang span {user-select: none;}

.menu, .lang, .menu li a, .lang a, .hamburger {transition-duration: 0.2s;}

.hamburger {
    width: 30px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
    opacity: 0.6;
    display: none;
    cursor: pointer;
}

.hamburger path {stroke: #ffffff;}

.hamburger:hover {opacity: 1;}

.ham_on {display: none;}

.space_box_top {width: 100%; height: 120px;}
.space_box_btm {width: 100%; height: 100px;}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.foot_text {
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
    color: #bbbbbb;
}

@media only screen and (max-width: 1440px) and (min-width: 931px) {
    nav {
        width: 50%;
        min-width: 550px;
        font-size: 16px;
    }

    .menu li {margin-right: 50px;}
}

@media only screen and (max-width: 930px) and (min-width: 551px) {
    .h_bg {filter: blur(20px);}

    .menu, .lang {display: none;}
    .hamburger {display: block;}
    .ham_on {display: block;}

    .ham_on {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
    }

    .ham_bg {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        opacity: 0;
    }

    .ham_nav {
        width: 200px;
        height: 100vh;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        position: fixed;
        top: 0;
        right: -200px;
        background-color: #f3f3f3;
    }

    .ham_menu {
        width: 60%;
        height: fit-content;
        margin: 0 auto;
        margin-top: 80px;
        font-size: 24px;
        font-weight: 700;
    }

    .ham_lang {
        width: 60%;
        height: fit-content;
        margin-bottom: 50px;
        position: absolute;
        left: 20%;
        bottom: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .ham_menu li, .ham_lang li {margin: 30px 0;}
    .ham_nav a {color: #999999; transition-duration: 0.2s;}
    .ham_nav a:hover {color: #000000; text-decoration: underline;}
    .ham_lang li:nth-child(1) a {color: #000000; text-decoration: none;}
    
    .space_box_btm {height: 70px;}
    footer {height: 40px;}
    .foot_text {
        width: max-content;
        font-size: 13px;
    }
}

@media only screen and (max-width: 550px) {
    .h_bg {filter: blur(20px);}

    .menu, .lang {display: none;}
    .hamburger {display: block;}
    .ham_on {display: block;}

    .ham_on {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
    }

    .ham_bg {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        opacity: 0;
    }

    .ham_nav {
        width: 200px;
        height: 100vh;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        position: fixed;
        top: 0;
        right: -200px;
        background-color: #f3f3f3;
    }

    .ham_menu {
        width: 60%;
        height: fit-content;
        margin: 0 auto;
        margin-top: 80px;
        font-size: 24px;
        font-weight: 700;
    }

    .ham_lang {
        width: 60%;
        height: fit-content;
        margin-bottom: 50px;
        position: absolute;
        left: 20%;
        bottom: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .ham_menu li, .ham_lang li {margin: 30px 0;}
    .ham_nav a {color: #999999; transition-duration: 0.2s;}
    .ham_nav a:hover {color: #000000; text-decoration: underline;}
    .ham_lang li:nth-child(1) a {color: #000000; text-decoration: none;}
    
    .space_box_btm {height: 70px;}
    footer {height: 40px;}
    .foot_text {
        width: max-content;
        font-size: 13px;
    }

    /*
    header {
        height: 60px;
        border-radius: 20px;
        top: 10px;
    }

    .h_bg {
        height: 60px;
        filter: blur(10px);
    }

    .h_bg>img {
        width: 800px;
        height: 800px;
    }

    .header_wrap {height: 60px;}

    h1 {
        width: 140px;
        top: 43%;
        left: 30px;
    }

    .hamburger {
        width: 20px;
        right: 30px;
        display: block;
    }
    
    .space_box_top {height: 80px;}
    */
}