@charset "utf-8";

a {color: inherit;}

article {
    width: 95%;
    max-width: 1600px;
    aspect-ratio: 1 / 0.33;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.con_text {
    width: calc(50% - 10px);
    margin-right: 20px;
    min-width: 700px;
    font-weight: 400;
    position: relative;
    background-color: #ffffff;
    border-radius: 30px;
    opacity: 0;
    transition-duration: 0.8s;
}

.con_text_wrap {
    width: 75%;
    min-width: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con_text span {font-size: 17px;}

.con_text h2 {
    margin-top: 10px;
    margin-left: -4px;
    margin-bottom: 56px;
    font-family: "Work Sans", sans-serif;
    font-size: 74px;
    font-weight: 600;
    letter-spacing: -0.05em;
    line-height: 90%;
}

.con_text p {
    font-size: 17px;
    line-height: 160%;
    color: #999999;
}

.con_menu {width: calc(50% - 10px);}

.con_menu div {
    width: calc(50% - 10px);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.con_menu div img {
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(18px);
    transition-duration: 0.2s;
}

.con_menu div>a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.con_menu div>a>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    user-select: none;
}

.work {
    height: 100%;
    float: left;
}

.people {
    height: calc(50% - 10px);
    float: right;
}

.news {
    margin-top: 20px;
    height: calc(50% - 10px);
    float: right;
}

.slider {
    width: 95%;
    max-width: 1600px;
    aspect-ratio: 1 / 0.4;
    margin: 20px auto;
    border-radius: 30px;
    position: relative;
    background-color: #000000;
    overflow: hidden;
    opacity: 0;
}

.slider_img {
    width: 600%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.slider_img li {
    width: calc(100% / 6);
    height: 100%;
    position: relative;
}

.slider_img li img {
    width: 100%;
    /* height: fit-content; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gradient_box {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.2), rgba(0,0,0,0.4), rgba(0,0,0,0.7));
}

.slider_info {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.slider_info ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.slider_info li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.slider_info li:nth-child(1) {display: block;}

.slider_info li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.text_wrap {
    width: calc(97% - 60px);
    height: 65px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
    user-select: none;
}

h3 {
    position: absolute;
    left: 0;
    font-family: "Jost", sans-serif;
    font-size: 44px;
    font-weight: 200;
    color: #ffffff;
}

h3 span {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
}

.arrow {
    position: absolute;
    top: 28%;
    right: 1%;
}

@media only screen and (max-width: 1440px) and (min-width: 1171px) {

    .con_text {min-width: 600px;}

    .con_text_wrap {
        width: 70%;
        min-width: 470px;
    }
    
    .con_text span {font-size: 16px;}
    
    .con_text h2 {
        margin-top: 8px;
        margin-bottom: 40px;
        font-size: 64px;
        line-height: 58px;
    }
    
    .con_text p {
        font-size: 15px;
        line-height: 24px;
    }
    
    .con_menu div>a>span {font-size: 34px;}
}

@media only screen and (max-width: 1170px) and (min-width: 931px) {
    .con_menu {display: none;}
    .con_text {
        width: 100%;
        height: 400px;
        margin-right: 0;
    }

    .con_text_wrap {
        width: 40%;
        min-width: 500px;
        text-align: center;
    }

    .con_text h2 {
        margin-bottom: 40px;
        font-size: 64px;
        line-height: 58px;
    }

    .slider{
        height: 438px;
    }
}

@media only screen and (max-width: 930px) and (min-width: 769px) {
    .con_text {
        width: 100%;
        height: 362px;
        margin-right: 0;
    }

    .con_text_wrap {
        width: 30%;
        min-width: 450px;
        text-align: center;
    }

    .con_text span {font-size: 15px;}
    .con_text p {font-size: 15px;}
    .con_text h2 {
        margin-bottom: 40px;
        font-size: 60px;
    }

    .slider {
        height: auto;
        aspect-ratio: 1 / 0.5;
    }

    .text_wrap {bottom: 20px;}
    h3 {font-size: 36px;}
    h3 span {font-size: 16px;}
    .arrow {display: none;}
}

@media only screen and (max-width: 768px) and (min-width: 431px) {    
    body {font-size: 14px;}

    .con_text {
        width: 100%;
        min-width: 0;
        height: 362px;
        margin-right: 0;
    }

    .con_text_wrap {
        width: 20%;
        min-width: 450px;
        text-align: center;
    }

    .con_text span {font-size: 0.9em;}
    .con_text p {font-size: 0.9em;}
    .con_text h2 {
        margin-bottom: 30px;
        font-size: 3.2em;
    }

    .slider {
        height: auto;
        aspect-ratio: 1 / 0.55;
    }

    .text_wrap {bottom: 26px;}
    h3 {font-size: 2.1em;}
    h3 span {
        display: block;
        margin-top: 2px;
        margin-left: 0;
        font-size: 0.4em;
    }
    .arrow {display: none;}
}

@media only screen and (max-width: 430px) {
    body {font-size: 10px;}

    .con_text {
        width: 100%;
        min-width: 0;
        height: 250px;
        margin-right: 0;
    }

    .con_text_wrap {
        width: 20%;
        min-width: 450px;
        text-align: center;
    }

    .con_text span {font-size: 0.9em;}
    .con_text p {font-size: 0.9em;}
    .con_text h2 {
        margin-bottom: 20px;
        font-size: 3.4em;
    }

    .slider {
        height: auto;
        aspect-ratio: 1 / 0.55;
    }

    .text_wrap {
        left: 48%;
        bottom: 0px;
    }
    h3 {font-size: 2.1em;}
    h3 span {
        display: block;
        margin-left: 0;
        font-size: 0.4em;
    }
    .arrow {display: none;}
}